/* ProgressBar.css */
.progress-bar {
    width: 100%;
    background-color: #e0e0df;
    border-radius: 25px;
    margin: 20px 0;
  }
  
  .progress-bar-fill {
    height: 25px;
    background-color: #000000; /* Schwarze Farbe für die Fortschrittsleiste */
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  